default_install_hook_types:
  - post-checkout
  - post-merge
  - post-rewrite
  - pre-commit
  - pre-push

# ci:
#   autofix_commit_msg: "ci(pre-commit): auto fixes"
#   autoupdate_commit_msg: "build(deps): update pre-commit hooks"
#   autoupdate_schedule: weekly
#   # Skip due to lack of network access
#   skip: [uv-lock, uv-sync]

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-json5
      - id: check-merge-conflict
        args: [--assume-in-merge]
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-illegal-windows-names
      - id: check-vcs-permalinks
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: forbid-new-submodules
      - id: forbid-submodules
      - id: name-tests-test

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-lock
        args: [--locked]
      - id: uv-sync
        args: [--locked]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.5
    hooks:
      - id: typos
