name: CI

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

env:
  DOCKER_IMAGE_NAME: ${{ secrets.DOCKER_HUB_USER }}/${{ github.event.repository.name }}
  HUSKY: 0
  PREK_SKIP: 'uv-lock,uv-sync'
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  UV_LOCKED: 1
  UV_NO_PROGRESS: 1

jobs:
  lint_commitlint:
    name: lint - commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
          cache: 'npm'

      - run: npm ci --ignore-scripts --silent

      - name: lint - commitlint (commit)
        run: just lint__commitlint_last

      - name: lint - commitlint (pr)
        if: github.event_name == 'pull_request'
        run: just lint__commitlint_pr ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}

  lint_prek:
    name: lint - prek
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1
        with:
          extra-args: '--all-files'

  lint_ty:
    name: lint - ty
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          cache-python: true
          prune-cache: false

      - run: just install__ci

      - run: just lint__ty

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          cache-python: true
          prune-cache: false

      - run: just install__ci

      - run: just test

      - uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7

  build:
    name: build - package
    needs: [lint_commitlint, lint_prek, lint_ty, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          cache-python: true
          prune-cache: false

      - run: just build

  docker-build:
    name: build - docker
    needs: [lint_commitlint, lint_prek, lint_ty, test, build]
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: ${{ false && github.ref == 'refs/heads/main'}}
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        id: docker_metadata
        with:
          images: ${{env.DOCKER_IMAGE_NAME}}

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          push: ${{ false && github.ref == 'refs/heads/main' }}
          tags: ${{ steps.docker_metadata.outputs.tags }}
          labels: ${{ steps.docker_metadata.outputs.labels }}

  docs:
    needs: [lint_commitlint, lint_prek, lint_ty, test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: extractions/setup-just@f8a3cce218d9f83db3a2ecd90e41ac3de6cdfd9b # v3
      - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          cache-python: true
          prune-cache: false

      - run: just install__ci

      - run: just docs
