name: CI

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

env:
  DOCKER_IMAGE_NAME: ${{ secrets.DOCKER_HUB_USER }}/${{ github.event.repository.name }}
  HUSKY: 0
  PREK_SKIP: 'uv-lock,uv-sync'
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  UV_LOCKED: 1
  UV_NO_PROGRESS: 1

jobs:
  lint_commitlint:
    name: lint - commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: lts/*
          cache: 'npm'

      - run: npm ci --ignore-scripts --silent

      - name: lint - commitlint (commit)
        run: just lint__commitlint_last

      - name: lint - commitlint (pr)
        if: github.event_name == 'pull_request'
        run: just lint__commitlint_pr ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}

  lint_prek:
    name: lint - prek
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: j178/prek-action@v1
        with:
          extra-args: '--all-files'

  lint_ty:
    name: lint - ty
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          version: '0.10.4'

      - run: just lint__ty

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          version: '0.10.4'

      - run: uv sync -q
      - run: uv run pytest

      - uses: SonarSource/sonarqube-scan-action@v7.0.0

  build:
    needs: [lint_prek, lint_ty, lint_commitlint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3.7.0
        if: ${{ false && github.ref == 'refs/heads/main'}}
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - uses: docker/setup-buildx-action@v3.12.0

      - uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: ${{env.DOCKER_IMAGE_NAME}}

      - uses: docker/build-push-action@v6.19.2
        with:
          push: ${{ false && github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
